<!--
  Generated template for the CartPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>cart</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <!--购物车列表为空-->
  <div *ngIf="cartList.length == 0" text-center>
      <img src='http://localhost/ajia_code/img/404/404_img2.png'>
      <h3>购物车是空的</h3>
      <button ion-button (click)="jumpToIndex()" color="secondary" block>逛逛去</button>
  </div>
   <!--购物车列表不为空-->
   <ion-list>
      <ion-item-sliding *ngFor="let tmp of cartList,let myIndex=index">
          <ion-item>
              <ion-checkbox item-start [(ngModel)]="tmp.isSelected" (ngModelChange)="selectOne()"></ion-checkbox>
              <ion-thumbnail item-end>
                 <ion-grid>
                    <!--行居中-->
                   <ion-row align-items-center>
                      <ion-col col-3>
                        <img [src]="'http://localhost/ajia_code/'+tmp.pic" alt="">
                      </ion-col>
                     <ion-col>
                        <p>{{tmp.title}}</p>
                        <p style="color:red">{{tmp.price|currency:'CNY'}}</p>
                        <button (click)='modifyCount(false,myIndex)'>-</button>
                        <span>{{tmp.count}}</span>
                        <button (click)='modifyCount(true,myIndex)'>+</button>
                    </ion-col>
                   </ion-row>
                </ion-grid>             
              </ion-thumbnail>
          </ion-item>
          <ion-item-options>
            <button ion-button color="danger">删除</button>
          </ion-item-options>
      </ion-item-sliding>

   </ion-list>
</ion-content>

<ion-footer>
   <ion-grid>
      <ion-row align-items-center>
         <ion-col col-1>
            <ion-checkbox [(ngModel)]="isAllSelect" (ngModelChange)="slectAll()"></ion-checkbox>
         </ion-col>
         <ion-col>
             全选 合计{{calcAll() |currency:'CNY' }}
           </ion-col >
           <ion-col col-3>
              <button ion-button color="danger" block (click)="jumpToOC()">去结算</button>
           </ion-col>
      </ion-row>
   </ion-grid>
</ion-footer>